<!-- app/templates/home/index.html -->

{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Project Dream Team</h1>
                    <h3>An employee management web application.!</h3>
                    <hr class="intro-divider">
		    <p class="pintro">Feel free to explore the features of this application, they are really nice and unique as it contains features for a standard company use.<small>its a 'CRUD' base project Build in Flask Python.</small></p>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
